[submodule "madara_contract_scripts"]
	path = madara_contract_scripts
	url = https://github.com/lana-shanghai/madara_contract_scripts
[submodule "madara"]
	path = madara
	url = https://github.com/keep-starknet-strange/madara
